.container {
  position: relative;
}

.titleWrap {
  display: flex;
  align-items: center;
}

.subtitle {
  width: 50%;
  text-align: right;
  margin-right: 20px;
  justify-content: flex-end;
  height: auto;
  padding-right: 20px;
  line-height: 1.8;
}

.icon {
  width: calc(50% - 50px);
  position: relative;
  cursor: pointer;
}

.icon::before {
  content: "";
  display: inline-block;
  background-color: #dadcdb;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -20px;
  margin: 0 5px 0 0;
}

.divider {
  width: 1px;
  height: 100%;
  z-index: 1;
  background-color: #dadcdb;
  position: absolute;
  top: 0;
  left: calc(50% + 29px);
  transform: translate(-50%, 22px);
}
