.container {
  margin: 20px 0;
  position: relative;
}

.title {
  font-weight: bold;
  text-align: right;
}

.title::after {
  content: "";
  display: inline-block;
  background-color: #dadcdb;
  width: 10px;
  height: 1px;
  margin: 4px 1px;
}

.titleWrap {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  transform: translateX(9px);
  margin-bottom: 4px;
  z-index: 10;
}

.icon {
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 100%;
  z-index: 1;
  background-color: #dadcdb;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 18px);
}
