.container {
  margin: 20px 0;
}

.title {
  font-weight: bold;
  text-align: right;
}

.title::after {
  content: "";
  display: inline-block;
  background-color: #dadcdb;
  width: 10px;
  height: 1px;
  margin: 4px 1px;
}

.titleWrap {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  transform: translateX(9px);
  margin-bottom: 4px;
}

/* .icon::before {
  content: "";
  display: block;
  background-color: #000;
  width: 10px;
  height: 10px;
} */

.icon {
  cursor: pointer;
}
