.container {
  display: flex;
  /* margin: 10px 0; */
}

.property {
  width: 50%;
  text-align: right;
  margin-right: 20px;
  justify-content: flex-end;
  height: auto;
  /* border-right: 1px solid #dadcdb; */
  padding-right: 20px;
  line-height: 1.8;
}

.value {
  width: calc(50% - 50px);
  position: relative;
  line-height: 1.8;
}

.sub_property {
  margin-right: 28px;
}

.sub_value {
  padding-left: 20px;
}

.value::before {
  content: "";
  display: inline-block;
  background-color: #dadcdb;
  width: 15px;
  height: 1px;
  position: absolute;
  top: 12px;
  left: -20px;
  margin: 0 5px 0 0;
}

.sub_value::before {
  content: "";
  display: inline-block;
  background-color: #dadcdb;
  width: 15px;
  height: 1px;
  position: absolute;
  top: 50%;
  margin: 0 5px 0 0;
  left: 1px;
}

.bold {
  font-weight: bold;
}
